.h1{
    text-decoration: double;
}

.table1{
    background-color: brown;
    width: 120px;
    height: 150px;
    text-align: center;
    text-decoration: underline;
}


.table2{
    background-color: yellowgreen;
    width: 120px;
    height: 150px;
    text-align: center;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: green;
  }
  
  
  nav {
    float: left;
    width: 30%;
    height: 300px;
    background: fuchsia;
    padding: 20px;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
  }
  
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  footer {
    background-color: khaki;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  @media (max-width: 600px) {
  
    nav, article {
      width: 100%;
      height: auto;
    }
  }